html {
  background: #111;
}

.wrapper {
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 50%;
  color: white;
  font-size: 1.7em;
  font-weight: 300;
  margin: auto;
}

.description {
  font-size: 0.7em;
  font-weight: 300;
}

footer {
  border-top: solid 2px white;
}
