@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


// COLOR PALETTE: #F54545, #FE691E, #FF8A05, #FFA203, #F5BD25
$accent-color: #FFA203;
$accent-color-hover: #F54545;
$background-color: #111;

.accent-color {
  color: $accent-color;
}

.accent-color-hover {
  color: $accent-color-hover;
}

// ITEM QUALITIES
$quality-poor: #9d9d9d; 
$quality-common: #ffffff;
$quality-uncommon: #1eff00;
$quality-rare: #0070dd;
$quality-epic: #a335ee;
$quality-legendary: #ff8000;
$quality-artifact: #e6cc80;

.quality-poor {
  color: $quality-poor;
}
.quality-common {
  color: $quality-common;
}
.quality-uncommon {
  color: $quality-uncommon;
}
.quality-rare {
  color: $quality-rare;
}
.quality-epic {
  color: $quality-epic;
}
.quality-legendary {
  color: $quality-legendary;
}
.quality-artifact {
  color: $quality-artifact;
}

// CLASS COLORS
// https://wowpedia.fandom.com/wiki/Class_colors
$color-death-knight: #c41f3b;
$color-demon-hunter: #a330c9;
$color-druid: #ff7d0a;
$color-evoker: #33937f;
$color-hunter: #abd473;
$color-mage: #69ccf0;
$color-monk: #00ff96;
$color-paladin: #f58cba;
$color-priest: #ffffff;
$color-rogue: #fff569;
$color-shaman: #0070de;
$color-warlock: #9482c9;
$color-warrior: #c79c6e;

.death-knight {
  color: $color-death-knight;
}

.demon-hunter {
  color: $color-demon-hunter;
}
.druid {
  color: $color-druid;
}

.evoker {
  color: $color-evoker;
}

.hunter {
  color: $color-hunter;
}

.mage {
  color: $color-mage;
}

.monk {
  color: $color-monk;
}

.paladin {
  color: $color-paladin;
}

.priest {
  color: $color-priest;
}

.rogue {
  color: $color-rogue;
}

.shaman {
  color: $color-shaman;
}

.warlock {
  color: $color-warlock;
}

.warrior {
  color: $color-warrior;
}